<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Feb 21 2014 04:58:08 GMT+0000 (UTC) -->
<html data-wf-site="5300606dbecf5c650700012b">
<head>
  <meta charset="utf-8">
  <title>Timekeeper - About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/timekeeper-b.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Oswald:300,400,700","Varela Round:400","Varela:400"]
      }
    });
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d2715929d9cfe03a000001/51e07282241660ce78000001_webclip-gallio.png">
</head>
<body>
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container menu_bar" id="toppage">
      <a class="w-nav-brand" href="homescreen">
        <img class="menu_icon" src="images/hourglass.png" width="60">
      </a>
      <nav class="w-nav-menu" role="navigation"><a class="w-nav-link menu_dropitem" href="homescreen">HOME</a><a class="w-nav-link menu_dropitem" href="faqs">FAQs</a><a class="w-nav-link menu_dropitem" href="about">ABOUT</a><a class="w-nav-link menu_dropitem" href="contactus">CONTACT US</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-container">
      <h1 class="company">About&nbsp;</h1>
      <div class="currtask_info">Everything you need to know about this app and the developers behind it.</div>
    </div>
  </div>
  <div class="about_section">
    <div class="w-container">
      <div class="contact_title">TIMEKEEPER</div>
      <p class="contact_info">This is THE&nbsp;optimal scheduling app. What is Timekeeper, you ask? Why, it's this little handy app that monitors your day-to-day schedule to provide you with the best possible schedule for your everyday to-dos.&nbsp;
        <br>Just simply put in the tasks you need to do and we'll do the rest.</p>
      <img class="contact_hour" src="images/hourglass.png" width="135">
    </div>
    <div class="w-container">
      <div class="contact_title">So who's behind this?&nbsp;</div>
      <p class="contact_info">It's a two person team, consisting of Alex Tran and Kirsten Van.
        <br>They both belong in the same COGS120 class, and have the same studio session with Galit Hofree, Fridays from 2:20PM-3:30PM.</p>
    </div>
    <div class="w-container">
      <div class="contact_title">How did this app come to be?</div>
      <p class="contact_info">This is all came to be when we were asked to design, or redesign, something that would make a change in the way we interact. In particular, we were asked to design something that would revolve around boundaries--either breaking down boundaries,
        redesigning boundaries, or putting bigger ones up.&nbsp;
        <br>And so, the idea for Timekeeper&nbsp;was born: an app that monitors your day-to-day progress to give you the optimal schedule that best suits your work/recreational ethics.</p>
    </div>
  </div>
  <div>
    <div class="w-container">
      <a class="w-inline-block top_of_page" href="#toppage">
        <img class="top_page_img" src="images/up_arrow.png" width="40">
      </a>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
</body>
</html>