<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Feb 21 2014 04:58:07 GMT+0000 (UTC) -->
<html data-wf-site="5300606dbecf5c650700012b">
<head>
  <meta charset="utf-8">
  <title>Timekeeper - FAQs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/timekeeper-b.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Oswald:300,400,700","Varela Round:400","Varela:400"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d2715929d9cfe03a000001/51e07282241660ce78000001_webclip-gallio.png">
</head>
<body>
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container menu_bar" id="toppage">
      <a class="w-nav-brand" href="homescreen">
        <img class="menu_icon" src="images/hourglass.png" width="52">
      </a>
      <nav class="w-nav-menu nav-menu" role="navigation"><a class="w-nav-link menu_dropitem" href="homescreen">HOME</a><a class="w-nav-link menu_dropitem" href="faqs">FAQs</a><a class="w-nav-link menu_dropitem" href="about">ABOUT</a><a class="w-nav-link menu_dropitem" href="contactus">CONTACT US</a>
      </nav>
      <div class="w-nav-button menu-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="w-container faq_container">
    <div>
      <div class="company">FREQUENTLY ASKED QUESTIONS (FAQs)</div>
    </div>
  </div>
  <div class="w-container">
    <div class="help_texttitle">So how does this work exactly?</div>
    <p class="help_paragraph">Timekeeper works like so: list the tasks you have to do for the day, watch the application crank out the most optimal schedule, and just follow step-by-step. You can view your schedule at any time, and you'll get constant notifications to let you
      know when you should be doing something. Then watch your tasks for the day disappear one by one!</p>
    <div>
      <div class="w-slider" data-animation="slide" data-duration="400" data-infinite="1">
        <div class="w-slider-mask help_mask">
          <div class="w-slide" width="680">
            <h5 class="slider_heading">Log in, and you'll be directed to the homescreen where you can add tasks, check your schedule, or configure settings.</h5>
            <img class="help_image" src="images/homescreen.jpg" width="220">
          </div>
          <div class="w-slide">
            <h5 class="slider_heading">You can add tasks to your current task list, and change things such as estimated time of completion, location, and priority.</h5>
            <img class="help_image" src="images/add_current_task.jpg" width="220">
          </div>
          <div class="w-slide">
            <h4 class="slider_heading">Check out our "About" section and learn the facts that came with this project. Questions? Feel free to contact us, and leave any feedback!</h4>
            <img class="help_image" src="images/about_contact.jpg" width="220">
          </div>
        </div>
        <div class="w-slider-nav w-round" width="1197"></div>
      </div>
    </div>
    <div class="help_texttitle">How does Timekeeper know what the most optimal schedule is for me?</div>
    <p class="help_paragraph">Sorry it's a trade secret and we're not allowed to disclose any of that information...oops.
      <br>What we will tell you though is Timekeeper does a lot of "behind the scenes" work, and tracks how frequently you go on certain websites. Our algorithm then cranks out a schedule the follows your daily work/play patterns...and voila!</p>
    <div class="help_texttitle">Is the schedule day-to-day only, or can you plan things for an entire month?</div>
    <p class="help_paragraph">Timekeeper only works on a day-to-day &nbsp;basis. Unlike other calender apps (such as Google Calendar), we focus on making sure you get the most done each and everyday. The importance of a good schedule comes with being efficient with your time,
      and we hope that utilizing the hours in a day in the best way possible gives you the ability to finish anything and everything you set to accomplish.&nbsp;</p>
    <div class="help_divblock">
      <div class="w-embed w-video help_video" style="padding-top: 56.20608899297424%;">
        <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F54a9nAt6xTo%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D54a9nAt6xTo&amp;image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2F54a9nAt6xTo%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube"
        scrolling="no" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  <div class="w-clearfix">
    <a class="w-inline-block top_of_page" href="#toppage">
      <img class="top_page_img" src="images/up_arrow.png" width="45" height="35">
    </a>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
</body>
</html>