<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Feb 21 2014 04:58:08 GMT+0000 (UTC) -->
<html data-wf-site="5300606dbecf5c650700012b">
<head>
  <meta charset="utf-8">
  <title>Timekeeper - Version B</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/timekeeper-b.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Oswald:300,400,700","Varela Round:400","Varela:400"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d2715929d9cfe03a000001/51e07282241660ce78000001_webclip-gallio.png">
</head>
<body>
  <header class="section header">
    <div class="w-container">
      <div class="w-row login_row" id="toppage">
        <div class="w-col w-col-6 company-column">
          <div class="home_div">
            <a class="w-inline-block timekeeper_link" href="#intro">
              <div class="company main_title">TIMEKEEPER</div>
            </a>
          </div>
          <a class="w-inline-block" href="#intro">
            <img class="logo" src="images/hourglass.png" width="80">
          </a>
        </div>
        <nav class="w-col w-col-6 nav-column login_buttons"><a class="button nav login_button" href="signup">Sign Up</a><a class="button nav login_button" href="loginpage">Log in</a>
        </nav>
      </div>
    </div>
  </header>
  <div class="hero section intro_section" id="intro">
    <div class="w-container">
      <h1 class="hero-heading home_heading">Get back on track with your schedule.</h1>
      <p class="hero-subhead home_subhead">Get the most done everyday. Just input your to-do list for the day, and we'll do the rest.</p>
    </div>
  </div>
  <div class="slider_divblock">
    <div class="w-slider" data-animation="slide" data-duration="600" data-infinite="1">
      <div class="w-slider-mask help_mask">
        <div class="w-slide">
          <div class="w-embed w-video home_video" style="padding-top: 56.20608899297424%;">
            <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fhc0CqHnhlfA%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dhc0CqHnhlfA&amp;image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2Fhc0CqHnhlfA%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube"
            scrolling="no" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="w-slide">
          <img class="help_image" src="images/google_calendar.png" width="235">
        </div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>
  </div>
  <footer class="w-clearfix section footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="w-hidden-small w-hidden-tiny footer-text"></div>
        </div>
        <div class="w-col w-col-6 right-footer-col home_contact">
          <div class="w-hidden-small w-hidden-tiny footer-text">Contact us:</div>
          <a class="w-inline-block social-icon first" href="mailto:support@webflow.com?subject=Hello">
            <img src="images/14-social-email.png" width="30px">
          </a>
          <a class="w-inline-block social-icon" href="http://facebook.com/webflow">
            <img src="images/14-social-facebook.png" width="30px">
          </a>
          <a class="w-inline-block social-icon" href="http://www.twitter.com/webflowapp">
            <img src="images/14-social-twitter.png" width="30px">
          </a>
        </div>
      </div>
    </div>
    <a class="w-inline-block top_of_page" href="#toppage">
      <img class="top_page_img" src="images/up_arrow.png" width="45" height="35">
    </a>
  </footer>
  <div>
    <div class="bottom_text">2014, Timekeeper, inc. All rights reserved.</div>
  </div>

  <!-- adding script files from lab5 -->
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/timekeeper.js"></script>

  <!-- script file for webflow -->
  <script type="text/javascript" src="js/webflow.js"></script>
  
</body>
</html>